<% include partials/header %>
      
      
<link rel="stylesheet" href="/stylesheets/global.css">
<link rel="stylesheet" href="/stylesheets/offering.css">



<h1><%- productName %></h1>
    <div class = "displayImage">
        <img src="" id="display_image">
    </div>
    <div class="container">
        price : <%- price %>
    </div>
    <div class="container">
        description : <%- description%>
    </div>
    
    <div class="container">
        Number of interested people : <%- numberOfInterestedPeople %>
    </div>
    
    <div class="container">
        Offered by : <%- offeringUsername %>
    </div>
    
    <div class="container">
        <%- sendMessageLink %>
    </div>
    
    <div class="row1">
            <%- otherImagesHTML %>
    </div>
    
    <script>
      <%- imagesScript %>
    </script>

<% include partials/footer %>